html, body, main, ul {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

  background: transparent;
}

.grid {
  width: 620px;
  height: 620px;
  margin: 50px auto;
  list-style-type: none;
  border: 20px solid black;
  background: burlywood;
}

.grid li {
  display: block;
  list-style-type: none;
  float: left;
  width: 20px;
  height: 20px;
}

.grid li:hover {
  opacity: .5;
}

.snake {
  background: darkolivegreen;
}

.apple {
  background: red;
}
